@import url("https://fonts.googleapis.com/css?family=Noto Sans:400,700");

$dark: rgb(44, 61, 87);
$white: rgb(236, 237, 239);
$primary: rgb(212, 85, 61);
$secondary: rgb(164, 155, 148);
$black: rgb(13, 12, 10);
$grey-dark: $dark;
$light: $white;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  color: $black;
  background-color: $light;
  font-family: "Noto Sans", sans-serif;
}

h1, h2 {
  font-weight: 400;
}

.row {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

.sidebar {
  flex: 30%;
  color: $white;
  background-color: $dark;
  padding: 10px;
  height: auto;
  min-height: 100%;
}

.main {
  flex: 70%;
  padding: 10px;
}

.footer {
  text-align: center;
  padding: 10px;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

img.avatar {
  border-radius: 50%;
  border: 2px solid $primary;
  height: 5rem;
}
