@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

$dark: rgb(44, 61, 87);
$white: rgb(236, 237, 239);
$primary: rgb(212, 85, 61);
$secondary: rgb(164, 155, 148);
$black: rgb(13, 12, 10);
$grey-dark: $dark;
$light: $white;

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  color: $black;
  background-color: $light;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  overflow-y: scroll;
}

p {
  line-height: 1.5rem;
}

a {
  color: $primary;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: 200;
}

nav {
  padding: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

.sidebar {
  flex: 33.3%;
  color: $white;
  background-color: $dark;
  padding: 10px;
  height: auto;
  min-height: 100%;
  text-align: center;
}

.sidebar a {
  color: $white;
}

.active {
  font-weight: bold;
}

.main {
  flex: 66.7%;
  padding: 10px;
  margin-top: 5.67rem;
  padding-left: 10%;
  padding-right: 10%;
}

.footer {
  text-align: center;
  padding: 10px;
}

.copyright {
  font-weight: 200;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }

  nav {
    padding: 0;
  }

  .main {
    margin: 0;
  }
}

img.avatar {
  border-radius: 50%;
  border: 2px solid $primary;
  height: 5rem;
  display: block;
  margin: auto;
  margin-top: 0.67rem;
}
