{{ define "main" }}
  <div class="grid justify-items-center place-items-center h-screen">
    <figure class="w-96">
      <img 
        class="w-64 mx-auto mb-8 rounded-full" 
        src="/img/avatar@2x.png" 
        alt="Avatar of James Meakin">
      <blockquote class="text-center">
        <h1 class="mb-8">
          Welcome to the personal website of Dr. James Meakin
        </h1>
        <p class="mb-8">
          I live in Rotterdam, the Netherlands, with my partner and our two cats.
          Currently, I work as a Research Software Engineer in Healthcare and enjoy backend web development and MLOps.
        </p>
        <p>
          You can find me on <a href="https://github.com/jmsmkn/">GitHub</a>, <a href="https://twitter.com/jmsmkn/">Twitter</a>, and <a href="https://linkedin.com/in/jmsmkn/">LinkedIn</a>.
        </p>
      </blockquote>
    </figure>
   </div>
{{ end }}
