/* Universal border-box fix and default colours */
:root {
  box-sizing: border-box;
  --dark: rgb(44, 61, 87);
  --primary: rgb(212, 85, 61);
  --secondary: rgb(164, 155, 148);
  --black: rgb(13, 12, 10);
  --white: rgb(236, 237, 239);
}

*,
::before,
::after {
  box-sizing: inherit;
}

/* Space stacked items */
body * + * {
  margin-top: 1em;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  color: var(--black);
  background-color: var(--white);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  overflow-y: scroll;
}

p {
  line-height: 1.5rem;
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-weight: 200;
}

nav {
  padding: 1em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  min-height: 100%;
}

.sidebar {
  flex: 33.3%;
  color: var(--white);
  background-color: var(--dark);
  height: auto;
  min-height: 100%;
  text-align: center;
}

.sidebar a {
  color: var(--white);
}

.active {
  font-weight: bold;
}

.main {
  flex: 66.7%;
  padding-left: 10%;
  padding-right: 10%;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  padding: 1em;
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }

  nav {
    padding: 0;
  }

  .main {
    margin: 0;
  }
}

img.avatar {
  border-radius: 50%;
  border: 2px solid var(--primary);
  height: 10em;
  display: block;
  margin: auto;
  margin-top: 1em;
}
