<img class="avatar" src="{{ .Site.BaseURL }}images/avatar.png" alt="">

<h1>{{ .Site.Params.name }}</h1>
<h4>{{ .Site.Params.bio }}</h4>

<nav>
    {{ $url := replace .Permalink .Site.BaseURL "" }}

    <h3>
        {{ if eq $url "" }}
        <a class="active" href='{{ .Site.BaseURL }}'>Home</a>
        {{ else }}
        <a class="" href='{{ .Site.BaseURL }}'>Home</a>
        {{ end }}
    </h3>

    <h3>
        {{ if eq $url "about/" }}
        <a class="active" href='{{ .Site.BaseURL }}about'>About</a>
        {{ else }}
        <a class="" href='{{ .Site.BaseURL }}about'>About</a>
        {{ end }}
    </h3>

    <h3>
        {{ if eq $url "contact/" }}
        <a class="active" href='{{ .Site.BaseURL }}contact'>Contact</a>
        {{ else }}
        <a class="" href='{{ .Site.BaseURL }}contact'>Contact</a>
        {{ end }}
    </h3>
</nav>

<p class="social">
    {{ range $key, $val := .Site.Social }}
    <a class="symbol" href="{{ $val }}"><i class="fab fa-{{ $key }}"></i></a>
    {{ end }}
</p>
